@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1408px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background: #0f1624;
  }

  .imgfluid {
    width: 100%;
    display: block;
  }

  .header--menu--link:hover {
    color: grey;
    text-decoration: underline;
  }

  .btn--primary {
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  }

  .abc {
    max-width: 1080px;
     margin-left: auto;
    margin-right: auto;
}

.project--link:hover {
  color: grey;
}

.projects--title {
  margin-left: 100px;
  font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 16px;
color: #ffffff;
margin-bottom: 50px;
}

.technologies--skills--items {
  display: block;
  margin-bottom: 20px;
}
.skills--item {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: #ffffff;
}

.skills--languea {
  font-size: 20px;
}

.skills--list {
  font-size: 20px;
  color: #ffffff;
  line-height: 40px;
}